<?xml version="1.0" encoding="utf-8"?>
<ApplicationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Version>3.5.1.183</Version>
  <RawDatabaseLocation>C:\Users\Febe\Documents\FreeWorshipPortable_3.4.2.171\Data</RawDatabaseLocation>
  <DisplayMonitor>[0;0;640;340]</DisplayMonitor>
  <StageDisplayMonitor>[0;0;640;340]</StageDisplayMonitor>
  <Songs>
    <DefaultStyle>
      <Margins>
        <Left>0</Left>
        <Top>0</Top>
        <Right>0</Right>
        <Bottom>0</Bottom>
      </Margins>
      <Font>
        <FontFamily>Century Gothic</FontFamily>
        <Bold>false</Bold>
        <Italic>false</Italic>
        <FontSize>36</FontSize>
        <FontAlignment>Center</FontAlignment>
        <FontColour>
          <A>255</A>
          <R>255</R>
          <G>255</G>
          <B>255</B>
        </FontColour>
        <VerticalAlignment>Center</VerticalAlignment>
        <Outline>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>255</R>
            <G>255</G>
            <B>255</B>
          </Colour>
          <Size>3</Size>
        </Outline>
        <Shadow>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>0</R>
            <G>0</G>
            <B>0</B>
          </Colour>
          <Size>3</Size>
          <Blur>5</Blur>
          <Direction>-35</Direction>
        </Shadow>
      </Font>
      <AutoSize>true</AutoSize>
      <Wrap>true</Wrap>
      <ShowVerseNumber>false</ShowVerseNumber>
      <ShowChorusName>false</ShowChorusName>
      <ShowVerseName>false</ShowVerseName>
      <ShowVerseChorusNamesInCaps>false</ShowVerseChorusNamesInCaps>
      <ForceChorusInItalics>false</ForceChorusInItalics>
    </DefaultStyle>
    <DefaultBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultBackground>
    <SaveSongOnQuickEdit>true</SaveSongOnQuickEdit>
    <Search>
      <Titles>true</Titles>
      <Lyrics>false</Lyrics>
      <Authors>false</Authors>
      <Themes>false</Themes>
      <Songbooks>true</Songbooks>
      <Web>false</Web>
    </Search>
    <Licence>
      <Number>0</Number>
      <Type>None</Type>
      <Custom />
    </Licence>
    <CopyrightDisplay>All</CopyrightDisplay>
    <SongCopyrightToken />
    <UseVerseOrderForLyricsList>true</UseVerseOrderForLyricsList>
    <LinkSongTextStyleToLicence>true</LinkSongTextStyleToLicence>
    <LinkSongMarginStyleToLicence>true</LinkSongMarginStyleToLicence>
    <DefaultSongLicenceStyle xsi:type="SongStyle">
      <Margins>
        <Left>2</Left>
        <Top>2</Top>
        <Right>2</Right>
        <Bottom>2</Bottom>
      </Margins>
      <Font>
        <FontFamily>Calibri</FontFamily>
        <Bold>false</Bold>
        <Italic>false</Italic>
        <FontSize>12</FontSize>
        <FontAlignment>Right</FontAlignment>
        <FontColour>
          <A>255</A>
          <R>255</R>
          <G>255</G>
          <B>255</B>
        </FontColour>
        <VerticalAlignment>Bottom</VerticalAlignment>
        <Outline>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>0</R>
            <G>0</G>
            <B>0</B>
          </Colour>
          <Size>3</Size>
        </Outline>
        <Shadow>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>0</R>
            <G>0</G>
            <B>0</B>
          </Colour>
          <Size>3</Size>
          <Blur>5</Blur>
          <Direction>-35</Direction>
        </Shadow>
      </Font>
      <AutoSize>true</AutoSize>
      <Wrap>true</Wrap>
      <ShowVerseNumber>false</ShowVerseNumber>
      <ShowChorusName>false</ShowChorusName>
      <ShowVerseName>false</ShowVerseName>
      <ShowVerseChorusNamesInCaps>false</ShowVerseChorusNamesInCaps>
      <ForceChorusInItalics>false</ForceChorusInItalics>
    </DefaultSongLicenceStyle>
  </Songs>
  <Bibles>
    <DefaultStyle>
      <Margins>
        <Left>2</Left>
        <Top>2</Top>
        <Right>2</Right>
        <Bottom>2</Bottom>
      </Margins>
      <Font>
        <FontFamily>Century Gothic</FontFamily>
        <Bold>false</Bold>
        <Italic>false</Italic>
        <FontSize>36</FontSize>
        <FontAlignment>Center</FontAlignment>
        <FontColour>
          <A>255</A>
          <R>255</R>
          <G>255</G>
          <B>255</B>
        </FontColour>
        <VerticalAlignment>Center</VerticalAlignment>
        <Outline>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>255</R>
            <G>255</G>
            <B>255</B>
          </Colour>
          <Size>1</Size>
        </Outline>
        <Shadow>
          <Enabled>false</Enabled>
          <Colour>
            <A>255</A>
            <R>255</R>
            <G>255</G>
            <B>255</B>
          </Colour>
          <Size>3</Size>
          <Blur>5</Blur>
          <Direction>-35</Direction>
        </Shadow>
      </Font>
      <AutoSize>true</AutoSize>
      <Wrap>true</Wrap>
      <BibleToUse>BibliaRVR1960.xml</BibleToUse>
      <VerseNums>true</VerseNums>
      <Name>Current</Name>
      <NamePosition>After</NamePosition>
      <DisplayBibleName>false</DisplayBibleName>
      <UseShortName>true</UseShortName>
    </DefaultStyle>
    <DefaultBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultBackground>
    <SelectNum>1</SelectNum>
    <SearchKeywords>false</SearchKeywords>
  </Bibles>
  <Slides>
    <DefaultStyle>
      <Margins>
        <Left>10</Left>
        <Top>10</Top>
        <Right>10</Right>
        <Bottom>10</Bottom>
      </Margins>
      <Font>
        <FontFamily>Calibri</FontFamily>
        <Bold>true</Bold>
        <Italic>false</Italic>
        <FontSize>48</FontSize>
        <FontAlignment>Center</FontAlignment>
        <FontColour>
          <A>255</A>
          <R>255</R>
          <G>255</G>
          <B>255</B>
        </FontColour>
        <VerticalAlignment>Center</VerticalAlignment>
        <Outline>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>0</R>
            <G>0</G>
            <B>0</B>
          </Colour>
          <Size>3</Size>
        </Outline>
        <Shadow>
          <Enabled>true</Enabled>
          <Colour>
            <A>255</A>
            <R>0</R>
            <G>0</G>
            <B>0</B>
          </Colour>
          <Size>3</Size>
          <Blur>5</Blur>
          <Direction>-35</Direction>
        </Shadow>
      </Font>
      <AutoSize>true</AutoSize>
      <Wrap>true</Wrap>
    </DefaultStyle>
    <DefaultBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultBackground>
    <SlideSetOrder>Alphabetical</SlideSetOrder>
    <DefaultTimeTicks>120000000</DefaultTimeTicks>
  </Slides>
  <Media>
    <DefaultImageStyle>
      <Margins>
        <Left>0</Left>
        <Top>0</Top>
        <Right>0</Right>
        <Bottom>0</Bottom>
      </Margins>
      <FillType>ScaleToFit</FillType>
    </DefaultImageStyle>
    <DefaultImageBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultImageBackground>
    <DefaultVideoStyle>
      <Margins>
        <Left>0</Left>
        <Top>0</Top>
        <Right>0</Right>
        <Bottom>0</Bottom>
      </Margins>
      <FillType>ScaleToFit</FillType>
    </DefaultVideoStyle>
    <DefaultVideoBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultVideoBackground>
    <DefaultStreamStyle>
      <Margins>
        <Left>0</Left>
        <Top>0</Top>
        <Right>0</Right>
        <Bottom>0</Bottom>
      </Margins>
      <FillType>ScaleToFit</FillType>
    </DefaultStreamStyle>
    <DefaultStreamBackground xsi:type="GradientBackgroundSettings">
      <Colour1>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
      </Colour1>
      <Colour2>
        <A>255</A>
        <R>0</R>
        <G>29</G>
        <B>81</B>
      </Colour2>
      <TypeOfGradient>Solid</TypeOfGradient>
      <Reflected>false</Reflected>
      <Point1>
        <X>0.5</X>
        <Y>0</Y>
      </Point1>
      <Point2>
        <X>0.5</X>
        <Y>1</Y>
      </Point2>
    </DefaultStreamBackground>
    <VideoPreviewLevel>Full</VideoPreviewLevel>
    <BackgroundVideoVolumeEnabled>false</BackgroundVideoVolumeEnabled>
  </Media>
  <DefaultTimeStyle>
    <Margins>
      <Left>5</Left>
      <Top>5</Top>
      <Right>5</Right>
      <Bottom>5</Bottom>
    </Margins>
    <Font>
      <FontFamily>Courier New</FontFamily>
      <Bold>false</Bold>
      <Italic>false</Italic>
      <FontSize>96</FontSize>
      <FontAlignment>Center</FontAlignment>
      <FontColour>
        <A>255</A>
        <R>0</R>
        <G>128</G>
        <B>0</B>
      </FontColour>
      <VerticalAlignment>Center</VerticalAlignment>
      <Outline>
        <Enabled>true</Enabled>
        <Colour>
          <A>255</A>
          <R>0</R>
          <G>0</G>
          <B>0</B>
        </Colour>
        <Size>3</Size>
      </Outline>
      <Shadow>
        <Enabled>true</Enabled>
        <Colour>
          <A>255</A>
          <R>0</R>
          <G>0</G>
          <B>0</B>
        </Colour>
        <Size>3</Size>
        <Blur>5</Blur>
        <Direction>-35</Direction>
      </Shadow>
    </Font>
    <AutoSize>true</AutoSize>
    <Wrap>true</Wrap>
  </DefaultTimeStyle>
  <DefaultTimeBackground xsi:type="GradientBackgroundSettings">
    <Colour1>
      <A>255</A>
      <R>0</R>
      <G>0</G>
      <B>0</B>
    </Colour1>
    <Colour2>
      <A>255</A>
      <R>0</R>
      <G>29</G>
      <B>81</B>
    </Colour2>
    <TypeOfGradient>Solid</TypeOfGradient>
    <Reflected>false</Reflected>
    <Point1>
      <X>0.5</X>
      <Y>0</Y>
    </Point1>
    <Point2>
      <X>0.5</X>
      <Y>1</Y>
    </Point2>
  </DefaultTimeBackground>
  <ClockOverlayEnabled>false</ClockOverlayEnabled>
  <ClockOverlayStyle>
    <Margins>
      <Left>2</Left>
      <Top>2</Top>
      <Right>2</Right>
      <Bottom>2</Bottom>
    </Margins>
    <Font>
      <FontFamily>Lucida Sans Typewriter</FontFamily>
      <Bold>true</Bold>
      <Italic>false</Italic>
      <FontSize>18</FontSize>
      <FontAlignment>Right</FontAlignment>
      <FontColour>
        <A>255</A>
        <R>255</R>
        <G>255</G>
        <B>255</B>
      </FontColour>
      <VerticalAlignment>Top</VerticalAlignment>
      <Outline>
        <Enabled>true</Enabled>
        <Colour>
          <A>255</A>
          <R>0</R>
          <G>0</G>
          <B>0</B>
        </Colour>
        <Size>4</Size>
      </Outline>
      <Shadow>
        <Enabled>false</Enabled>
        <Colour>
          <A>255</A>
          <R>0</R>
          <G>0</G>
          <B>0</B>
        </Colour>
        <Size>3</Size>
        <Blur>5</Blur>
        <Direction>-35</Direction>
      </Shadow>
    </Font>
    <AutoSize>true</AutoSize>
    <Wrap>true</Wrap>
  </ClockOverlayStyle>
  <DefaultAlertStyle>
    <AlertType>NewsTicker</AlertType>
    <AlertColour>BlueBulletin</AlertColour>
    <Size>3</Size>
    <CapitalLetters>false</CapitalLetters>
  </DefaultAlertStyle>
  <DefaultTransition>
    <ID>0</ID>
    <Duration>1</Duration>
  </DefaultTransition>
  <FadeToBlack>1</FadeToBlack>
  <FadeScreen>1</FadeScreen>
  <WindowLayout>
    <Maximised>true</Maximised>
    <TransitionsOpen>true</TransitionsOpen>
    <BackgroundsOpen>true</BackgroundsOpen>
    <LowPriorityBackgroundsOpen>false</LowPriorityBackgroundsOpen>
    <TransitionsRowHeight>2</TransitionsRowHeight>
    <ServiceListRowHeight>3</ServiceListRowHeight>
    <BackgroundRowHeight>168.34666666666675</BackgroundRowHeight>
    <ItemDisplayRowHeight>495.69333333333321</ItemDisplayRowHeight>
    <LeftColumnWidth>391.300698805838</LeftColumnWidth>
    <CentreColumnWidth>478.66165413533849</CentreColumnWidth>
    <RightColumnWidth>480.0376470588235</RightColumnWidth>
  </WindowLayout>
  <FileBrowserStates>
    <MediaForeground>
      <Folder>C:\Users\Febe\Downloads</Folder>
      <Zoom>75</Zoom>
    </MediaForeground>
    <MediaBackground>
      <Folder>C:\Users\Febe\Downloads</Folder>
      <Zoom>77.999999999999972</Zoom>
    </MediaBackground>
    <Powerpoint>
      <Folder>...\</Folder>
      <Zoom>75</Zoom>
    </Powerpoint>
    <SongImporter>
      <Folder>...\Songs</Folder>
      <Zoom>75</Zoom>
    </SongImporter>
    <BibleImporter>
      <Folder>...\Bibles</Folder>
      <Zoom>75</Zoom>
    </BibleImporter>
  </FileBrowserStates>
  <LogoPath>Default</LogoPath>
  <LogoFillType>Center</LogoFillType>
  <DisplayMargins>
    <Left>0</Left>
    <Top>0</Top>
    <Right>0</Right>
    <Bottom>0</Bottom>
  </DisplayMargins>
  <StageDisplayMargins>
    <Left>0</Left>
    <Top>0</Top>
    <Right>0</Right>
    <Bottom>0</Bottom>
  </StageDisplayMargins>
  <Language>es</Language>
  <LastExportSettings>
    <Format>FWSX</Format>
    <FontSize>12</FontSize>
    <FullItems>true</FullItems>
    <SongVerseNums>false</SongVerseNums>
    <SongCopyrightPosition>Bottom</SongCopyrightPosition>
  </LastExportSettings>
  <StageDisplayConfiguration>
    <Enabled>true</Enabled>
    <TopMargin>0.2</TopMargin>
    <RightMargin>0.3</RightMargin>
  </StageDisplayConfiguration>
  <BasicMode>
    <Enabled>false</Enabled>
    <HideTransitions>true</HideTransitions>
    <HideBackgrounds>true</HideBackgrounds>
    <HideStyling>true</HideStyling>
    <HideUserManagement>true</HideUserManagement>
    <DisablePreferences>false</DisablePreferences>
  </BasicMode>
  <AutoApplyPreview>false</AutoApplyPreview>
  <DontSelectNextVerse>false</DontSelectNextVerse>
  <DefaultBasherMode>Bible</DefaultBasherMode>
  <DevelopmentUpdates>false</DevelopmentUpdates>
  <Skin>.\Resources\Skins\Seafoam\Skin.xaml</Skin>
  <ReportErrorsOnStartup>true</ReportErrorsOnStartup>
  <IncludeErrorScreenshot>true</IncludeErrorScreenshot>
  <ShowPresentationDisplayOnStartup>true</ShowPresentationDisplayOnStartup>
  <ReportErrors>false</ReportErrors>
  <ReportErrorsOnly>false</ReportErrorsOnly>
  <ReportAnonymously>false</ReportAnonymously>
  <MaxLogsToUploadAtOnce>100</MaxLogsToUploadAtOnce>
  <LogUploadPeriodInMiliseconds>30000</LogUploadPeriodInMiliseconds>
</ApplicationSettings>