<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
        NOTE: If this configuration variable is set [to anything], the location
              of the currently executing assembly (i.e. the one containing all
              the managed components for System.Data.SQLite) will be used as
              the basis for locating the the native library to pre-load (i.e.
              instead of using the application domain base directory).
    -->
    <add key="PreLoadSQLite_UseAssemblyDirectory" value="1" />
  </appSettings>
</configuration>
